@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');

.App {
  text-align: center;
  margin: auto;
  border: 5px solid darkgray;
  width: 90%;
  height: 100vh;
}

* {
  color: darkgray;
  font-family: 'Anonymous Pro', monospace;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#main-menu {
  list-style: none;
}

button, input[type="submit"]{
  margin: 2px;
  border: 1px solid gray;
  border-radius: 2px;
}

button:hover, input[type="submit"]:hover {
  border-color: red;
}
